<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>www.flybrownfield.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"
	media="screen" />
</head>
<body>




	<div align="center">
		<a th:href="@{/}">Home</a> | <a th:href="@{/search}">Search</a> | <a
			th:href="@{/search-booking}">CheckIn</a> | <a th:href="@{/regForm}">Register</a>
		| <a th:href="@{/loginForm}">Login</a>

	</div>
	<div th:with="passengers=${numberofPassengers}"></div>

	<hr width="50%" />
	<div align="center" class="form-style-8">
		<h2>Flight Information</h2>



		<table border="1">
			<thead>
				<tr>

					<th>Flight</th>
					<th>From</th>
					<th>To</th>
					<th>Date</th>
					<th>Time</th>
					<th>Duration</th>
					<th>Fare</th>
					<th>Total Fare</th>

				</tr>
			</thead>
			<tbody>
				<tr>

					<td th:text="${flight.flightNumber}" />
					<td th:text="${flight.origin}" />
					<td th:text="${flight.destination}" />
					<td th:text="${flight.flightDate}" />
					<td th:text="${flight.flightTime}" />
					<td th:text="${flight.duration}" />
					<td th:text="${flight.fares.fare}" />
					<td th:text="${flight.fares.fare * numberofPassengers}" />

				</tr>
			</tbody>
		</table>

		<hr width="50%" />
		<h2>Primary Passenger Information</h2>
		<form action="#" th:action="@{/bookFlight(id=${flight.id},numberofPassengers=${numberofPassengers})}" th:object="${passenger}" 
			method="post">
			
			<table align="center">

				<tr>
					<td>Mobile Number</td>
					<td><input type="number" th:name="mobileNumber"></td>

					<td>Email Address</td>
					<td><input type="email" th:name="emailAddress"></td>
				
				
				
					<td>First Name<input type="text" th:name="firstName" /></td>
					<td>Last Name</td>
					<td><input type="text" th:name="lastName" /></td>
				

					<td>Gender</td>
					<td><input type="radio" th:name="gender"
						th:value="Male">Male <input type="radio"
						th:name="gender" th:value="Female">Female</td>

				</tr>
			</table>

			<hr width="60%" />

            <div th:if="${numberofPassengers >=2}">
			<table >
                
				<th:block
					th:each="i,state: ${#numbers.sequence(0, numberofPassengers-2)}">
					<tr>
						<th>Passenger <span th:text="${state.count+1}"></span>:
						</th>
						<td>First Name<input type="text"
							th:name="coPassengers[__${state.index}__].firstName" /></td>
						<td>Last Name</td>
						<td><input type="text"
							th:name="coPassengers[__${state.index}__].lastName" /></td>
						<td>Gender</td>
						<td><input type="radio"
							th:name="coPassengers[__${state.index}__].gender"
							th:value="Male">Male <input type="radio"
							th:name="coPassengers[__${state.index}__].gender"
							th:value="Female">Female</td>

					</tr>
				</th:block>
				</div>
				<tr>
					<th colspan="10"><input type="submit" value="Book" /></th>
				</tr>
			</table>
			<hr width="50%" />
			
			
		</form>

	</div>
	
	
	 

</body>
</html>