<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>www.flybrownfield.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"
	media="screen" />
</head>
<body>




	<div align="center">
		<a th:href="@{/}">Home</a> | <a th:href="@{/search}">Search</a>
		| <a th:href="@{/search-booking}">CheckIn</a> |
		<a th:href="@{/regForm}">Register</a> |
		<a th:href="@{/loginForm}">Login</a> 
		  
	</div>

<hr width="50%"/>
	<div align="center" class="form-style-8">
		<h2>New User Registration</h2>
		<form action="#" th:action="@{/registerUser}" th:object="${user}"
		
			method="post">

			<table>
				<tr>
					<td>First Name</td>
					<td><input type="text" th:name="passenger.firstName" th:field="*{passenger.firstName}" /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" th:name="passenger.lastName"/></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>
					<input type="radio" th:name="passenger.gender" th:value="Male">Male
					<input type="radio" th:name="passenger.gender" th:value="Female">Female
					</td>
				</tr>
				<tr>
					<td>User name</td>
					<td><input type="text" th:name="userName"  /></td>
				</tr>
				
				<tr>
					<td>Password</td>
					<td><input type="text" th:name="password" /></td>
				</tr>
				<tr>
					<td>Mobile Number</td>
					<td><input type="number" th:name="passenger.mobileNumber" /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" th:name="passenger.emailAddress" /></td>
				</tr>
				
				
				<tr>
					<td></td>
					<td><input type="submit" value="Register" /></td>
				</tr>
				
				<tr>
					<td>Already Registered?</td>
					<td><a th:href="@{/loginForm}">Login Here</a></td>
				</tr>
				
				<tr>
					<td></td>
					<td><p th:text="${errorMsg}"/></td>
				</tr>
			</table>
		</form>
	</div>
	<hr width="50%"/>
	
</body>
</html>